@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-afacad: 'Afacad', serif;
  --font-lato: 'Lato', sans-serif;
  --background: #FFFDF3;
  --foreground: #1E1E1E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFDF3;
    --foreground: #1E1E1E;
  }
}

body {
  margin: 0;
  padding: 0;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-afacad), serif;
}

